<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Kijin Seong, PhD, AICP</title>
    
{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width">

    <style>
          .header-title {
            font-size: 20px; /* Smaller font size */
            background: linear-gradient(to right, #003399 0%, #9900cc 100%);
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
            margin: 5px 0;
            font-weight: bold;
    </style>
    
    <script>
      function showdropinfo(id) {
          var element = document.getElementById(id);
          if (element.style.display === "none") {
              element.style.display = "block";
          } else {
              element.style.display = "none";
          }
      }
    </script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        
      <a href="/" style="display: block; text-align: center;"><img id="logo" src="/files/Images/KijinSeong_headshot_sq.jpg" style="width:200px; display: block; margin: 0 auto; border-radius: 50%;"/></a>
     
      <div class="header-title">
        Kijin Seong, PhD, AICP</span>
      </div>
          <p align="center">
        <i class="fas fa-map-marker-alt"></i> Austin, TX, USA
        <br> kijin.seong@austin.utexas.edu
      <br />

        <br> <a href="https://orcid.org/0000-0003-3942-6984/" target="_blank" style="color: #124F90;">
          <i class="fa-brands fa-orcid"></i> ORCID</a> |
        <a href="https://www.linkedin.com/in/kijin-seong-phd-aicp-5833417b/" target="_blank" style="color: #124F90;">
          <i class="fab fa-linkedin"></i> LinkedIn</a> |
        <a href="https://github.com/kijinseong/" target="_blank" style="color: #124F90;">
          <i class="fab fa-github"></i> GitHub</a>
        <br> <a href="https://www.researchgate.net/profile/Kijin-Seong" target="_blank" style="color: #124F90;">
          <i class="fab fa-researchgate"></i> ResearchGate</a> |
        <a href="https://scholar.google.com/citations?user=GcRv_SUAAAAJ&hl=en&oi=ao" target="_blank" style="color: #124F90;">
          <i class="fas fa-graduation-cap"></i> GoogleScholar
        </a>
      </p>
        
      <br />
      <br />
      <br />
        
        <p style="line-height: 17px;"><a href="/about" style="color: #124F90; font-weight: bold;">ABOUT</a></p>
        <p style="line-height: 17px;"><a href="/research" style="color: #124F90; font-weight: bold;">RESEARCH</a></p>
        <p style="line-height: 17px;"><a href="/publications" style="color: #124F90; font-weight: bold;">PUBLICATIONS</a></p>
        <p style="line-height: 17px;"><a href="/teaching" style="color: #124F90; font-weight: bold;">TEACHING</a></p>
        <p style="line-height: 17px;"><a href="/cv" style="color: #124F90; font-weight: bold;">CV</a></p>
        /*<p style="line-height: 17px;"><a href="/blog" style="color: #124F90; font-weight: bold;">BLOG</a></p>*/
      
               
      </header>
      
      <section>
      {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        <p class="footer-text" style="font-size: 13px;">© 2024 Kijin Seong. Hosted by GitHub Pages minimal; Theme by <a href="https://github.com/orderedlist" style="color: #124F90;">orderedlist</a></p>
        
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
