<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Kijin Seong, PhD, AICP</title>
    
{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

    <style>
          .header-title {
            font-size: 20px; /* Smaller font size */
            background: linear-gradient(to right, #003399 0%, #9933ff 100%);
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
            margin: 5px 0;
            font-weight: bold;
          }
          
        </style>
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        
      <a href="/" style="display: block; text-align: center;"><img id="logo" src="/files/Images/KijinSeong_headshot_sq.jpg" style="width:250px; display: block; margin: 0 auto; border-radius: 50%;"/></a>
     
      <div class="header-title">
        Kijin Seong, PhD, AICP</span>
      </div>
        
      <p align="center">
        Austin, TX, USA
        <br> kijin.seong@austin.utexas.edu
        <br> <a href="/files/Documents/CV_KijinSeong_2024Summer.pdf" style="color: #003399;">Resume</a> |
        <a href="https://www.linkedin.com/in/kijin-seong-phd-aicp-5833417b/" style="color: #003399;">LinkedIn</a> |
        <a href="https://github.com/kijinseong/" style="color: #003399;">GitHub</a>
        <br> <a href="https://www.researchgate.net/profile/Kijin-Seong" style="color: #003399;">ResearchGate</a> |
        <a href="https://scholar.google.com/citations?user=GcRv_SUAAAAJ&hl=en&oi=ao" style="color: #003399;">GoogleScholar</a>
      </p>
        
      <br />
      <br />
      <br />
        
        <p style="line-height: 15px;"><a href="/about" style="color: #003399;">ABOUT</a></p>
        <p style="line-height: 15px;"><a href="/research" style="color: #003399;">RESEARCH</a></p>
        <p style="line-height: 15px;"><a href="/publications" style="color: #003399;">PUBLICATIONS</a></p>
        <p style="font-size: 15px;"><a href="/teaching" style="color: #003399;">TEACHING</a></p>
        <p style="font-size: 15px;"><a href="/cv" style="color: #003399;">CV</a></p>
        <p style="font-size: 15px;"><a href="/blog" style="color: #003399;">BLOG</a></p>
              
      </header>
      
      <section>

      {{ content }}

      </section>
      
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        <p class="footer-text">© 2024 Kijin Seong. Hosted by GitHub Pages minimal; Theme by <a href="https://github.com/orderedlist" style="color: #003399;">orderedlist</a></small></p>
        
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
